---
http_interactions:
- request:
    method: get
    uri: http://api.walmartlabs.com/v1/reviews/21268095?apiKey=7eghsah35cp9am44jyayfx6t&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-56.mashery.com
    body:
      encoding: UTF-8
      string: '{"itemId":21268095,"name":"Disney Minnie Mouse Bow-Tique Headphones","salePrice":20.49,"upc":"092298912479","categoryPath":"Electronics/Audio/Headphones/Headphones","brandName":"Minnie
        Mouse","productTrackingUrl":"http://linksynergy.walmart.com/fs-bin/click?id=|LSNID|&offerid=223073.7200&type=14&catid=8&subid=0&hid=7200&tmpid=1082&RD_PARM1=http%253A%252F%252Fwww.walmart.com%252Fip%252F21268095%253Faffp1%253DUdc7Zi7aV22Ixmdv09sOlO5fD1Ish18L6pFZTAk9ZRE%2526affilsrc%253Dapi","productUrl":"http://c.affil.walmart.com/t/api06?l=http%3A%2F%2Fwww.walmart.com%2Fip%2F21268095%3Faffp1%3DUdc7Zi7aV22Ixmdv09sOlO5fD1Ish18L6pFZTAk9ZRE%26affilsrc%3Dapi%26veh%3Daff%26wmlspartner%3Dreadonlyapi","categoryNode":"[\"0\",\"3944\",\"133251\",\"1095191\",\"4480\"]","reviews":[{"name":"Disney
        Minnie Mouse Bow-Tique Headphones","overallRating":{"label":"Overall","rating":"5"},"productAttributes":[{"label":"Value","rating":"5"},{"label":"Meets
        Expectations","rating":"5"}],"reviewer":"VCCP","reviewText":"We bought these
        for my two-year old for her iPod. They are absolutely adorable, and work as
        described. I noticed she had the volume all the way up on her iPod, but the
        headphones were not blasting; they remained at a normal volume for her little
        ears. I HIGHLY recommend these!","submissionTime":"2012-12-28T20:37:59","title":"Perfect!","upVotes":"6","downVotes":"0"},{"name":"Disney
        Minnie Mouse Bow-Tique Headphones","overallRating":{"label":"Overall","rating":"5"},"productAttributes":[{"label":"Value","rating":"5"},{"label":"Meets
        Expectations","rating":"5"}],"reviewer":"cltjjt","reviewText":"I bought these
        as a gift for my 4 year old daughter''s birthday. She can easily plug them
        into her iPod and they stay in place on her head even while she''s dancing.
        Definitely worth the money! Hopefully they last a long tim[...]
